[submodule "backend"]
	path = backend
        url = git@github.com:shlomosh/vibe-dating-backend.git
[submodule "frontend"]
	path = frontend
        url = git@github.com:shlomosh/vibe-dating-frontend.git
[submodule "dashboard"]
	path = dashboard
	url = git@github.com:shlomosh/vibe-dating-dashboard.git
